@model PictureDepot.Models.Artist
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete @(Model.FirstName + Model.LastName)</h2>

<h4>Are you sure you want to delete @(Model.FirstName + Model.LastName) ?</h4>
<form method="post" action="/Artists/Delete">
    <div class="form-group text-center">
        <a href="/Artists/List"><button type="button" class="btn btn-primary">NO</button></a>
        <button type="submit" class="btn btn-default">YES</button>
    </div>
</form>
